.radio {
    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 20px;
}

.label {
    width: 200px;
}

h3 {
    margin-left: 20px;
}

h4 {
    margin-left: 20px;
}

button {
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
}

.graph {
    margin: 10px 10px 10px 20px;
}

input {
    font-size: 16px;
}